body {
  min-height: 100svh;
  display: flex;
  flex-flow: column;
}

.canvas-container {
  flex: 1 1 auto;
}

.color {
  cursor: pointer;
}

#cooldownBar {
  -webkit-transition: none !important;
  transition: none !important;
}
